.account-item {
  padding: 12px 0;
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.account-item:active {
  opacity: 0.7;
}

.account-item__icon {
  background: var(--pfm-palette-blue-extra-soft);
}
