.tx-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.tx-list__group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.tx-list__date {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 19.5px;
  color: var(--pfm-text-secondary);
}

.tx-list__items {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
