.more-actions {
  padding-top: 16px;
}

.more-actions__section {
  padding: 0 var(--pfm-page-padding);
}

.more-actions__section-title {
  font-family: var(--pfm-font-family);
  font-weight: 600;
  font-size: 15px;
  line-height: 22.5px;
  color: var(--pfm-text-secondary);
  padding: 24px 0 4px;
}

.more-actions__section:first-of-type .more-actions__section-title {
  padding-top: 16px;
}
